@import 'style.scss';

header {
	color: $white;
	background: $gradient;
	.container {
		display: flex;
		padding: 0 $space;
		height: $space*2.25;
		line-height: $space*2.25;
		> * {
			flex: 1;
		}
		h1 a {
			font-weight: 400;
		}
		nav {

			ul {
				text-align: right;
				li {
					display: inline;
					padding: 0 $space/3;
					a {
						font-size: .75em;
						cursor: pointer;
						padding: 0 0 1px 0;
						transition: .2s all;
						border-bottom: 1px solid transparent;
						&:hover {
							border-bottom: 1px solid $white;
						}
					}
					&:last-of-type {
						padding: 0 0 0 $space/2;
					}
				}
			}
		}
	}
}