// // // // // // // // 
//       HEADER      // 
// // // // // // // // 


@import "variables.scss";

header {
	background: $gradient1;
	color: $white;
	padding: $margin*2;
	.container {
		display: flex;
		h1 {
			flex: 1;
			padding: 0;
			a {
				i.fa {
					font-size: .8em;
					position: relative;
					top: -4px;
				}
			}
		}
		ul {
			flex: 1;
			align-self: center;
			text-align: right;
			li {
				display: inline;
			}
		}
	}
}