@import 'style.scss';

header {
	color: $white;
	background: $gradient;
	.container {
		display: flex;
		padding: 0 $space;
		height: $space*2.25;
		line-height: $space*2.25;
		> * {
			flex: 1;
		}
		h1 a {
			font-weight: 400;
		}
		nav {

			ul {
				text-align: right;
				li {
					display: inline;
					a {
						font-size: .75em;
						cursor: pointer;
					}
				}
			}
		}
	}
}