// // // // // // // // 
//    MAIN STYLES    // 
// // // // // // // // 

@import "variables.scss";

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	background: $white;
	color: $dark;
	font-family: Lato;
	font-weight: 300;
}

main {
	background: $white;
	padding: $margin;
	overflow: hidden;
}