$space: 1em;
$blue: #12a6dc;
$white: #fafafa;
$light: rgba(255,255,255,.1);
$dark: #143b42;
$gradient: linear-gradient(225deg, #11c0c7, #12a6dc);

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: none;
	background: none;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: 300;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-user-select: none;
}

a {
	cursor: pointer;
}

.btn {
	background: $blue;
	color: $white;
	font-weight: 400;
	display: inline-block;
	padding: $space/2 $space;
	margin: $space 0;
}

::-webkit-input-placeholder {color: inherit !important;}

body {
	font-family: Lato, Helvetica neue;
	font-size: 1.05em;
	color: $dark;
	background: white;
	min-height: 100vh;
}

.container {
	padding: $space;
}

