// // // // // // // // 
//     VARIABLES     // 
// // // // // // // // 


// SPACE
$margin: 16px;

//COLOR
$dark: #222327;
$white: #EDEDED;
$blue1: #4688F1;
$blue2: #3D78D4;
$gradient1: linear-gradient(to right bottom, #10d6b7 0, #12a2df 100%);