<template name="lists">

	{{#unless currentUser.emails.[0].verified}}
		You need to verify your email address before using GoDunk. <a href="#" class="resend-verification-link">Resend verification link</a>.
	{{else}}

		<h2>Lists</h2>
		{{> addList}}
		<ul>
			{{#if Template.subscriptionsReady}}
				{{#each list}}
				<li><a href="{{pathFor route='listPage'}}">{{name}}</a></li>
				{{/each}}
			{{else}}
				<div class="loading"><p>Loading...</p></div>
			{{/if}}
		</ul>

	{{/unless}}

</template>