<template name="login">
	<div class="container login-page register-page">
		<h2>Sign In</h2>
		<form class="login">
			<input type="email" name="email" placeholder="email" required>
			<div class="bar"></div>
			<input type="password" name="password" placeholder="password" required>
			<div class="bar"></div>
			<div class="submit-holder">
				<input type="submit" value="Sign In">
			</div>
		</form>
		<p>Don't have an account? <a href="{{pathFor route='register'}}">Create Account</a> </p>
	</div>
</template>