<template name="register">
	<div class="container register-page login-page">
		<h2>Create Account</h2>
		<form class="register">
			<input type="email" name="email" placeholder="email" required>
			<div class="bar"></div>
			<input type="password" name="password" placeholder="password" required>
			<div class="bar"></div>
			<input type="password" name="confirm-password" placeholder="confirm password" required>
			<div class="bar"></div>
			<div class="submit-holder">
				<input type="submit" value="Create Account">
			</div>
		</form>
		<p>Already have an account? <a href="{{pathFor route='login'}}">Sign In</a> </p>
	</div>
</template>